@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700,500);
@import url(./fonts/NotoSansCJKjp-Bold);

body,
video,
header,
body,
h1,
h2,
p {
    margin:0;
    padding:0;
}
body {
	display: block;
	height: 100%;
}

video {
	width: 100%;
	height: 100%;
	display: inline-block;
 	vertical-align: baseline;
}
.video-wrap {
	height: 100%;
	width: 100%;
}

.content-overlay {
	position: relative;
	z-index: 20;
	padding: 15%;

}

@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 480px)
	and (-webkit-min-device-pixel-ratio: 2) {

	}	.video-wrap {
			background-image: url("https://lambratebeta.files.wordpress.com/2016/12/bamboo-background.jpg");
			background-size: cover;
	}	

.container-fluid{
	font-size: 0.8em;
}
.content-overlay h1,
.content-overlay h2,
.content-overlay p {
	color: #fff;
	text-align: center;
	font-size: 6em;
	font-family: 'Kaushan Script';
}
.text-overlay-example .video-wrap::before,
.with-header-example .video-wrap::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
}
header {
	height: 100px;
	background-color: #ddd;
}
.outer-wrap {
	height: 500px;
}
.title{
	font-family: 'Montserrat';
	font-size: 7.8vh;
	text-align: center;

}
p{
	font-family: 'Montserrat';
	font-size: 2em;
	text-align: center;
	padding-bottom: 3vh;
}
h1{
	margin-top: 1em !important;
}
#gallery{
	margin-bottom: 20px;
}
#scrollDown{
	margin-top: 300px;
	width: 200px;
	-webkit-filter: invert(1);
   	filter: invert(1);
}
#nav-trigger{
	margin: 0;
}

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}